* {
  box-sizing: border-box;
}
body {
  background-image: linear-gradient(90deg, #fdfcfb 0%, #e2d1c3 100%);
  font-family: sans-serif;
  word-break: normal;
}

img {
  max-width: 100%;
}

figcaption {
  color: #777;
  font-family: serif;
  font-size: 14px;
}

.container {
  /* border: 2px solid #000; */

  display: table-cell;
  position: relative;
  top: 0;
  left: 50%;
  display: table-cell;
  vertical-align: top;
  background-color: #fff;
  box-shadow: 0 0 10px 1px rgb(0 0 0 / 25%);
  margin-bottom: 1em;
  max-width: 830px;
  padding: 2em 0 0 0;
  text-align: left;
}

header h1 {
  text-align: center;
  font: bold 38px sans-serif;
  line-height: 1.2;
}

.author {
  color: #777;
  text-align: center;
  font-size: 16px;
  font-family: serif;
  margin-bottom: 0;
}

a {
  text-decoration: none;
  border-bottom: 1px solid #777;
  color: inherit;
}

.intro {
  font-size: 1.1em;
  line-height: 1.7em;
  text-align: center;
  padding: 0 2.5em;
  margin-top: 1em;
  margin-bottom: 2.5em;
}

h2 {
  font-weight: bold;
  font-size: 1.4em;
}

section.listof h2.sitename {
  margin-left: 5%;
}

.site-desc {
  margin: 2em 5% 2em 5%;
  font-size: 1.1em;
  line-height: 1.7;
  color: #333;
}
